
.navbar-static-top {
    margin-bottom: 19px;
  }
  
.width-75 {
    max-width: 75px !important;
}

.width-150 {
    max-width: 150px !important;
}

.width-300 {
    max-width: 300px !important;
}

.width-500 {
    max-width: 500px !important;
}